#options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
#opciones{
    margin: 0 4em;
}
#logo{
    margin: 0 1.5em;
    width: 8em;
}
.nav-itemS{
    text-decoration: none;
    border: .2em solid #ffffff73;
    border-radius: .3em;
    transition: 1s;
    width: auto;
    animation: palp 2s infinite linear;
}

#contact{
    color: #ffffff;
}

.nav-link{
    display: flex;
    transition: 1s;
}
.nav-link:hover{
    transition: .5s;
    scale: 1.2;
}
.nav-container{
    position: fixed;
    top: 0em;
    width: 100%;
    z-index: 401;
    background:linear-gradient(to left, #E8CBC0, #587ec4);
    box-shadow: .2em .2em .1em rgba(0, 0, 0, 0.596);
}
.navbar-brand{
    transition: 1s;
}
.navbar-brand:hover{
    scale: 1.2;
    transition: .5s;
}
.navbar-light{color: white;} .navbar-nav{color: white;} .nav-link{color: white;}
#log{
    scale: 50%;
    padding: 0;
}
#navv{
    height: 6em;
}
@keyframes palp {
    0% {
        /* transform: translate(0px, 50px); */
        scale: 1;
        }
        50% {
        /* transform: translate(0px, 60px); */
        scale: 1.2;
        }
        100% {
        /* transform: translate(0px, 50px); */
        scale: 1;
        }
}