.Presentation-cont{
    height: 42em;
    border: 1px solid red;
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/962/673/109/blue-sky-art-painting-art-wallpaper-preview.jpg');
    background-size: 100% 100%;
    filter: blur(4px);
}
.png1{
    position: absolute;
    width: 40em;
    top: 42em;
    left: 40em;
    animation: arrow 3s ease-in-out infinite;
}
.text{
    text-align: center;
    width: 35em;
    box-shadow: .5em .5em .5em .5em rgba(0, 0, 0, 0.582);
    border-radius: .5em;
    position: absolute;
    top: 53em;
    margin: 5em;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.521);
    animation: arrow 3s ease-in-out infinite;
    border: .2em solid white;
}
@keyframes arrow {
    0% {
    transform: translate(0px, 50px);
    }
    50% {
    transform: translate(0px, 60px);
    }
    100% {
    transform: translate(0px, 50px);
    }
    }